

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    <link href="/styles/lib.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    @RenderSection("Css", false)
</head>
<body>
@RenderBody()

@RenderSection("Scripts", false)
</body>
</html>